[submodule "src/cartographer_core/cartographer"]
	path = src/cartographer_core/cartographer
	url = https://github.com/ros2/cartographer.git
	branch = ros2
[submodule "src/cartographer_core/cartographer_ros"]
	path = src/cartographer_core/cartographer_ros
	url = https://github.com/ros2/cartographer_ros.git
	branch = ros2
[submodule "src/navigation2"]
	path = src/navigation2
	url = https://github.com/ros-planning/navigation2.git
	branch = humble
